body {
  background-color: white; }
  body h1 {
    color: blue; }
  body * {
    margin: auto 20px; }
  body .posts {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
