<h1>Create New Post</h1>

<form action="/addPost" method="POST">

    <label for="titel" >Title:</label>
    <br>
    <input type="text" name="title" id="title">
    <br>
    <label for="description" class="text_input">Description:</label>
    <br>
    <input type="text" name="description" id="description">
    <br>
    <label for="tag" class="text_input">Tag:</label>
    <br>
    <input type="text"  name="tag" id="tag">
    <br>
    <button type="submit">Add Post</button>

</form>