<form class="windows">
            <label for="titel" class="text_input">Title:</label>
            <input type="text" class="input_input" >

            <label for="description" class="text_input">Description:</label>
            <input type="text" class="input_input">

            <label for="tag" class="text_input">Email:</label>
            <input type="email" class="input_input">

            <button class="text_button">Add Post</button>
</form>