<h1>HOME</h1>
<p>Welcome  {{ user }}</p>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<header>
    <button type="submit">Reg</button>
    <button type="submit">LogIn</button>
</header>

