<h1 class="login_head">{{title}}</h1>

<form class="login_windows" action="/login" method="POST">
    <label for="email" >Email:</label>
    
    <input type="email" id="email" name="email" >
    
    <label for="password" >Pasword:</label>
    
    <input type="password" id="password" name="password" >
    
    <button type="submit" class="button_login">LogIn</button>
    <button class="button_login"><a href="/register"></a>Register</button>
</form>