<h1>{{title}}</h1>

<form class="windows" action="/login" method="POST">
    <label for="email" >Email:</label>
    <br>
    <input type="email" id="email" name="email" >
    <br>
    <label for="password" >Pasword:</label>
    <br>
    <input type="password" id="password" name="password" >
    <br>
    <button type="submit">LogIn</button>
</form>