<h1 class="login_head">{{title}}</h1>

<form  action="/register" method="POST" class="login_windows">

    <label for="name" >Name:</label>
    
    <input type="text" id="name" name="name" required>
    
    <label for="last_name" >Last Name:</label>
    
    <input type="text" id="last_name" name="lastName" required>
    
    <label for="email" >Email:</label>
    
    <input type="email" id="email" name="email" required>
    
    <label for="password" >Pasword:</label>
    
    <input type="password" id="password" name="password" required>
    
    <button type="submit" class="btn btn-secondary">Register</button>
    <button class="btn btn-secondary"><a href="/login"></a>Login</button>
</form>
